* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.navbar-header {
  width: 100%;
  height: 80px;
  padding: 17px 24px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(79deg,
      rgb(246, 150, 6), rgb(19, 205, 6), rgb(246, 150, 6));

}

.link {
  color: white;
  text-decoration: none;
  margin: 0px 10px;
}




.signup_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;

}

.signup_form {
  border: 1px solid gray;
  padding: 19px;
  border-radius: 10px;
  width: 30%;
}


.signup_form form input {
  padding: 7px;
  border-radius: 5px;
  margin-top: 2px;
  width: 100%;
  border: 1px solid rgb(216, 213, 213);
}


.signup_form form button,
.signup_form button {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgb(216, 213, 213);
}

.signup_form form button {
  background-color: #157994;
  color: white;

}

.signup_form button {
  background-color: rgb(3, 177, 18);
  color: white;
}

.signup_btn {
  margin-top: 8px;
}

.btn_input {
  background-color: transparent;
  color: white;
  font-weight: bolder;
  border: none;
}

/* for post */

.post_form {
  width: 50%;
  border: 1px solid grey;
  padding: 21px;
}

.post_form input,
.post_form textarea,
.post_form button {
  width: 100%;
  padding: 8px;
  margin: 10px 0px;
}

.post_form .file {
  border: 1px solid gray;
}

.post_form button {
  cursor: pointer;
  color: white;
  background-color: green;
}

.post_container {
  display: flex;
  justify-content: center;
  /*  this is for Horizontally center */
  align-items: center;
  /* Vertically center */
  height: 90vh;
  /* set a fixed or relative height for vertical centering */

}

/* for posts */

.posts_container {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;

}

.post {
  width: 80%;
  border: 1px solid gray;
  padding: 9px;
  margin: 9px;
  display: flex;
  color: black;
  background-color: #d7fcfc;
  text-decoration: none;
}

.post img {
  width: 200px;
  height: 200px;
}

.post .post_text {
  margin-left: 10px;
}


/* after clic on post */

.post_post {
  display: flex;
  flex-direction: column;
  width: 68%;
}



.post_post img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1115px) {
  .post_post img {
    max-width: 100%;
    height: auto;
  }
}






.post_text home {
  font-size: 1.5rem;
  margin: 0;
  color: #0c2864;


}

.post_text h2 {
  font-size: 1.5rem;
  margin-bottom: 100px;
  color: #110a54;

  margin-left: 400px;
}

.post_textp1 {
  font-size: 1.5rem;
  margin-bottom: 100px;
  color: #0aab0a;

  margin-left: 70px;
}




.post_text h2 {
  font-size: 1.5rem;
  margin: 0;
  color: #131475;
  margin-left: 300px;


}

.post_text p {
  font-size: 1rem;
  color: #000000;
}

.post {
  display: flex;
  align-items: center;
}











.App {
  text-align: center;
}

.primary-button {
  background-color: blue;
  color: white;
  padding: 1px 6px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 350px;
}

@media (max-width: 768px) {
  .primary-button {
    margin-left: 10px;
  }
}


/* for delete  button  */

.success-button {
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 4px 6px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 20px;
}





.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}